1. Nettoyage
2. Suppression
3. Gestion des NA
4. Cr√©ation de features

In [83]:
import pandas as pd 

df = pd.read_csv('data_set/SBAnational.csv')
df.head(10)

/tmp/ipykernel_7370/2751281537.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data_set/SBAnational.csv')

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
5,1000084002,"B&T SCREW MACHINE COMPANY, INC",PLAINVILLE,CT,6062,"TD BANK, NATIONAL ASSOCIATION",DE,332721,28-Feb-97,1997,...,N,N,NaN,30-Jun-97,"$517,000.00",$0.00,P I F,$0.00,"$517,000.00","$387,750.00"
6,1000093009,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,2-Jun-80,1980,...,N,N,24-Jun-91,22-Jul-80,"$600,000.00",$0.00,CHGOFF,"$208,959.00","$600,000.00","$499,998.00"
7,1000094005,WEAVER PRODUCTS,SUMMERFIELD,FL,34491,REGIONS BANK,AL,811118,28-Feb-97,1997,...,N,Y,NaN,30-Jun-98,"$45,000.00",$0.00,P I F,$0.00,"$45,000.00","$36,000.00"
8,1000104006,TURTLE BEACH INN,PORT SAINT JOE,FL,32456,CENTENNIAL BANK,FL,721310,28-Feb-97,1997,...,N,N,NaN,31-Jul-97,"$305,000.00",$0.00,P I F,$0.00,"$305,000.00","$228,750.00"
9,1000124001,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,28-Feb-97,1997,...,N,Y,NaN,30-Apr-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"

### Selection des colonnes

In [84]:
df.columns

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'],
      dtype='object')

In [85]:
df=df[['City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']]

### Transformation des dates

In [86]:
# erreur de frappe '1976A' au lieu de 1976

filtre = df['ApprovalFY']=='1976A'

df.loc[filtre,['ApprovalFY']]='1976'

In [87]:
# transformation des colonnes ApprovalDate et DisbursementDate

df['ApprovalDate']= pd.to_datetime(df['ApprovalDate'], format='%d-%b-%y', errors='coerce')
df['DisbursementDate']= pd.to_datetime(df['DisbursementDate'], format='%d-%b-%y', errors='coerce')
df['ChgOffDate']= pd.to_datetime(df['ChgOffDate'], format='%d-%b-%y', errors='coerce')

# transformation de la colonne ApprovalFY

df['ApprovalFY']= pd.to_datetime(df['ApprovalFY'],format='%Y')

### Transformation des montants

In [88]:
colonnes_montant = ['DisbursementGross','BalanceGross','ChgOffPrinGr','GrAppv','SBA_Appv']

for colonne in colonnes_montant:
    df[colonne] = pd.to_numeric(df[colonne].str.replace('[\$,]', '', regex=True).str.replace(',', '', regex=False), errors='coerce')
    df[colonne] = df[colonne].round(2)

df.head()

,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997-01-01,84,4,...,N,Y,NaT,1999-02-28,60000.0,0.0,P I F,0.0,60000.0,48000.0
1,NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997-01-01,60,2,...,N,Y,NaT,1997-05-31,40000.0,0.0,P I F,0.0,40000.0,32000.0
2,BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997-01-01,180,7,...,N,N,NaT,1997-12-31,287000.0,0.0,P I F,0.0,287000.0,215250.0
3,BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997-01-01,60,2,...,N,Y,NaT,1997-06-30,35000.0,0.0,P I F,0.0,35000.0,28000.0
4,ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997-01-01,240,14,...,N,N,NaT,1997-05-14,229000.0,0.0,P I F,0.0,229000.0,229000.0

### Suppression des NA dans la target

In [89]:
print(len(df))
df= df.dropna(subset=['MIS_Status'], axis=0)
print(len(df))

899164
897167

### Gestion des Borrower city

In [90]:
#remplacer les valeurs NaN par la valeur la plus fr√©quente selon le code Zip

cities = df.groupby('Zip')['City'].apply(lambda x: x.mode().iloc[0])

df['City'] = df.apply(lambda row: row['City'] if pd.notnull(row['City']) else cities[row['Zip']], axis=1)

df['City'].isnull().sum()

0

### Gestion Borrower State

In [91]:
#remplacer les valeurs NaN par la valeur la plus fr√©quente selon 'City'

# Fonction pour obtenir le mode tout en traitant les cas sp√©ciaux
def get_mode(series):
    try:
        return series.mode().iloc[0]
    except IndexError:
        return 'NA'

# Obtenir le mode pour chaque groupe 'Zip' dans la colonne 'State'
states = df.groupby('City')['State'].apply(get_mode).reset_index()
df = pd.merge(df, states, on='City', how='left', suffixes=('', '_Mode'))
df['State'] = df['State_Mode']
df = df.drop('State_Mode', axis=1)

### Gestion de Bank

In [92]:

# Obtenir le mode pour chaque groupe 'Zip' dans la colonne 'Bank'
Banks = df.groupby('City')['Bank'].apply(get_mode).reset_index()
df = pd.merge(df, Banks, on='City', how='left', suffixes=('', '_Mode'))
df['Bank'] = df['Bank_Mode']
df = df.drop('Bank_Mode', axis=1)

df[df['Bank'].isnull()]

Empty DataFrame
Columns: [City, State, Zip, Bank, BankState, NAICS, ApprovalDate, ApprovalFY, Term, NoEmp, NewExist, CreateJob, RetainedJob, FranchiseCode, UrbanRural, RevLineCr, LowDoc, ChgOffDate, DisbursementDate, DisbursementGross, BalanceGross, MIS_Status, ChgOffPrinGr, GrAppv, SBA_Appv]
Index: []

[0 rows x 25 columns]

### Gestion Bank State

In [93]:
#remplacer les valeurs NaN par la valeur la plus fr√©quente selon 'Bank'

# Obtenir le mode pour chaque groupe 'Bank' dans la colonne 'BankState'
BankStates = df.groupby('City')['BankState'].apply(get_mode).reset_index()
df = pd.merge(df, BankStates, on='City', how='left', suffixes=('', '_Mode'))
df['BankState'] = df['BankState_Mode']
df = df.drop('BankState_Mode', axis=1)

### Gestion ApprovalDate

In [94]:
filtre= df['ApprovalDate'].isnull()
df[filtre]

Empty DataFrame
Columns: [City, State, Zip, Bank, BankState, NAICS, ApprovalDate, ApprovalFY, Term, NoEmp, NewExist, CreateJob, RetainedJob, FranchiseCode, UrbanRural, RevLineCr, LowDoc, ChgOffDate, DisbursementDate, DisbursementGross, BalanceGross, MIS_Status, ChgOffPrinGr, GrAppv, SBA_Appv]
Index: []

[0 rows x 25 columns]

### Atomisation NewExist

In [95]:
filtre = df['NewExist'].isnull()
df=df.dropna(subset=['NewExist'], axis=0)

df['NewExist'].isnull().sum()

0

### Gestion RevLineCr

In [96]:
#On garde les valeurs 'Y' et 'N' pour les autres on met la valeur '-' :
def modifier_valeur(valeur):
    if valeur not in ['Y', 'N']:
        return '-'
    else:
        return valeur

#on remplace les 0 par N et les [1, T] par Y
def modifier_valeur2(valeur):
    if valeur in ['N', '0']:
        return 'N'
    if valeur in ['Y', '1', 'T']:
        return 'Y'
    else:
        return pd.NA
    
df['RevLineCr'] = df['RevLineCr'].apply(modifier_valeur)

### Gestion des LowDoc
<= 150 000 alors Y
> 150 000 alors N

In [97]:
# gestion des NaN

filtre1 = df['LowDoc'].isnull()

filtre2 = df['GrAppv']<= 150000
filtre3= df['GrAppv']>150000

df.loc[filtre1&filtre2,'LowDoc']='Y'
df.loc[filtre1&filtre3,'LowDoc'] = 'N'

# gestion des valeurs autre que Y et N


filtre= (df['LowDoc']!= 'Y') & (df['LowDoc']!='N')
display(df.loc[filtre,['LowDoc','GrAppv']])
df.loc[filtre&filtre2,'LowDoc']='Y'
df.loc[filtre&filtre3,'LowDoc']='N'
display(df.loc[filtre,['LowDoc','GrAppv']])

df['LowDoc'].unique()

       LowDoc     GrAppv
7396        C  1306000.0
23325       C   160000.0
30636       C   189000.0
35432       C  1200000.0
36058       C   250000.0
...       ...        ...
884350      C   200000.0
884377      C  2000000.0
885824      C   131000.0
889838      C   135000.0
892658      C   375000.0

[3420 rows x 2 columns]

       LowDoc     GrAppv
7396        N  1306000.0
23325       N   160000.0
30636       N   189000.0
35432       N  1200000.0
36058       N   250000.0
...       ...        ...
884350      N   200000.0
884377      N  2000000.0
885824      Y   131000.0
889838      Y   135000.0
892658      N   375000.0

[3420 rows x 2 columns]

array(['Y', 'N'], dtype=object)

### Atomisation radioactive des DisbursementDate

In [98]:
df=df.dropna(subset=['DisbursementDate'],axis=0)
df['DisbursementDate'].isnull().sum()

0

### Traitement des ChgOffDate

In [99]:
#suppression des NaN dont la target = 'CHGOFF'
#pour les target = 'P I F' on met la date la plus r√©cente :

df = df.query("MIS_Status != 'CHGOFF' or ChgOffDate.notna()")
# df['ChgOffDate'].describe()
max_date = '13-Mar-10'
df['ChgOffDate'] = df['ChgOffDate'].fillna(max_date)

### Traitement des FranchiseCode

In [100]:
# 1        636232
# 0        206923
df['FranchiseCode'] = pd.to_numeric(df['FranchiseCode'], errors='coerce')
df['FranchiseCode'] = df['FranchiseCode'].replace([0, 1], '0')
df['FranchiseCode'] = df['FranchiseCode'].replace(to_replace=df['FranchiseCode'].unique()[1:], value='1')
df['FranchiseCode'].value_counts()

0    843155
1     51656
Name: FranchiseCode, dtype: int64

### des survivants √† l'atomisation ???

                               ________________
                          ____/ (  (    )   )  \___
                         /( (  (  )   _    ))  )   )\
                       ((     (   )(    )  )   (   )  )
                     ((/  ( _(   )   (   _) ) (  () )  )
                    ( (  ( (_)   ((    (   )  .((_ ) .  )_
                   ( (  )    (      (  )    )   ) . ) (   )
                  (  (   (  (   ) (  _  ( _) ).  ) . ) ) ( )
                  ( (  (   ) (  )   (  ))     ) _)(   )  )  )
                 ( (  ( \ ) (    (_  ( ) ( )  )   ) )  )) ( )
                  (  (   (  (   (_ ( ) ( _    )  ) (  )  )   )
                 ( (  ( (  (  )     (_  )  ) )  _)   ) _( ( )
                  ((  (   )(    (     _    )   _) _(_ (  (_ )
                   (_((__(_(__(( ( ( |  ) ) ) )_))__))_)___)
                   ((__)        \\||lll|l||///          \_))
                            (   /(/ (  )  ) )\   )
                          (    ( ( ( | | ) ) )\   )
                           (   /(| / ( )) ) ) )) )
                         (     ( ((((_(|)_)))))     )
                          (      ||\(|(|)|/||     )
                        (        |(||(||)||||        )
                          (     //|/l|||)|\\ \     )
                        (/ / //  /|//||||\\  \ \  \ _)
-------------------------------------------------------------------------------

In [101]:
df.isnull().sum()

City                 0
State                0
Zip                  0
Bank                 0
BankState            0
NAICS                0
ApprovalDate         0
ApprovalFY           0
Term                 0
NoEmp                0
NewExist             0
CreateJob            0
RetainedJob          0
FranchiseCode        0
UrbanRural           0
RevLineCr            0
LowDoc               0
ChgOffDate           0
DisbursementDate     0
DisbursementGross    0
BalanceGross         0
MIS_Status           0
ChgOffPrinGr         0
GrAppv               0
SBA_Appv             0
dtype: int64

In [102]:

df.drop(columns='ChgOffDate',inplace=True)
df.drop(columns='DisbursementDate',inplace=True)
df.drop(columns='DisbursementGross',inplace=True)
df.drop(columns='BalanceGross',inplace=True)
df.drop(columns='ChgOffPrinGr',inplace=True)
df.drop(columns='SBA_Appv',inplace=True)

In [103]:
#creation d'un csv avec la nouvelle version

# df.to_csv('./data_set/SBAnational-EDA.csv')