1__ Nettoyage

2__ Suppression

3__ Gestion des NA

In [1]:
import pandas as pd 

df = pd.read_csv('data_set/SBAnational.csv')
df.head(10)

/tmp/ipykernel_4782/2751281537.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
/tmp/ipykernel_4782/2751281537.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data_set/SBAnational.csv')

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,1000014003,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,...,N,Y,NaN,28-Feb-99,"$60,000.00",$0.00,P I F,$0.00,"$60,000.00","$48,000.00"
1,1000024006,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,...,N,Y,NaN,31-May-97,"$40,000.00",$0.00,P I F,$0.00,"$40,000.00","$32,000.00"
2,1000034009,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,...,N,N,NaN,31-Dec-97,"$287,000.00",$0.00,P I F,$0.00,"$287,000.00","$215,250.00"
3,1000044001,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,...,N,Y,NaN,30-Jun-97,"$35,000.00",$0.00,P I F,$0.00,"$35,000.00","$28,000.00"
4,1000054004,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,...,N,N,NaN,14-May-97,"$229,000.00",$0.00,P I F,$0.00,"$229,000.00","$229,000.00"
5,1000084002,"B&T SCREW MACHINE COMPANY, INC",PLAINVILLE,CT,6062,"TD BANK, NATIONAL ASSOCIATION",DE,332721,28-Feb-97,1997,...,N,N,NaN,30-Jun-97,"$517,000.00",$0.00,P I F,$0.00,"$517,000.00","$387,750.00"
6,1000093009,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,2-Jun-80,1980,...,N,N,24-Jun-91,22-Jul-80,"$600,000.00",$0.00,CHGOFF,"$208,959.00","$600,000.00","$499,998.00"
7,1000094005,WEAVER PRODUCTS,SUMMERFIELD,FL,34491,REGIONS BANK,AL,811118,28-Feb-97,1997,...,N,Y,NaN,30-Jun-98,"$45,000.00",$0.00,P I F,$0.00,"$45,000.00","$36,000.00"
8,1000104006,TURTLE BEACH INN,PORT SAINT JOE,FL,32456,CENTENNIAL BANK,FL,721310,28-Feb-97,1997,...,N,N,NaN,31-Jul-97,"$305,000.00",$0.00,P I F,$0.00,"$305,000.00","$228,750.00"
9,1000124001,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,28-Feb-97,1997,...,N,Y,NaN,30-Apr-97,"$70,000.00",$0.00,P I F,$0.00,"$70,000.00","$56,000.00"

### Selection des colonnes

In [2]:
df.columns

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'],
      dtype='object')

In [3]:
df=df[['City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']]

### Transformation des dates

In [4]:
# erreur de frappe '1976A' au lieu de 1976

filtre = df['ApprovalFY']=='1976A'

df.loc[filtre,['ApprovalFY']]='1976'

In [5]:
# transformation des colonnes ApprovalDate et DisbursementDate

df['ApprovalDate']= pd.to_datetime(df['ApprovalDate'], format='%d-%b-%y', errors='coerce')
df['DisbursementDate']= pd.to_datetime(df['DisbursementDate'], format='%d-%b-%y', errors='coerce')
df['ChgOffDate']= pd.to_datetime(df['ChgOffDate'], format='%d-%b-%y', errors='coerce')

# transformation de la colonne ApprovalFY

df['ApprovalFY']= pd.to_datetime(df['ApprovalFY'],format='%Y')

### Transformation des montants

In [6]:
colonnes_montant = ['DisbursementGross','BalanceGross','ChgOffPrinGr','GrAppv','SBA_Appv']

for colonne in colonnes_montant:
    df[colonne] = pd.to_numeric(df[colonne].str.replace('[\$,]', '', regex=True).str.replace(',', '', regex=False), errors='coerce')
    df[colonne] = df[colonne].round(2)

df.head()

,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,1997-02-28,1997-01-01,84,4,...,N,Y,NaT,1999-02-28,60000.0,0.0,P I F,0.0,60000.0,48000.0
1,NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,1997-02-28,1997-01-01,60,2,...,N,Y,NaT,1997-05-31,40000.0,0.0,P I F,0.0,40000.0,32000.0
2,BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,1997-02-28,1997-01-01,180,7,...,N,N,NaT,1997-12-31,287000.0,0.0,P I F,0.0,287000.0,215250.0
3,BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997-01-01,60,2,...,N,Y,NaT,1997-06-30,35000.0,0.0,P I F,0.0,35000.0,28000.0
4,ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997-01-01,240,14,...,N,N,NaT,1997-05-14,229000.0,0.0,P I F,0.0,229000.0,229000.0

### Suppression des NA dans la target

In [7]:
print(len(df))
df= df.dropna(subset=['MIS_Status'], axis=0)
print(len(df))

899164
897167

### Gestion des Borrower city

In [8]:
#remplacer les valeurs NaN par la valeur la plus fréquente selon le code Zip

cities = df.groupby('Zip')['City'].apply(lambda x: x.mode().iloc[0])
df['City'] = df.apply(lambda row: row['City'] if pd.notnull(row['City']) else cities[row['Zip']], axis=1)

### Gestion Borrower State

In [9]:
#remplacer les valeurs NaN par la valeur la plus fréquente selon 'City'

# Fonction pour obtenir le mode tout en traitant les cas spéciaux
def get_mode(series):
    try:
        return series.mode().iloc[0]
    except IndexError:
        return pd.NaT

# Obtenir le mode pour chaque groupe 'Zip' dans la colonne 'State'
states = df.groupby('City')['State'].apply(get_mode).reset_index()
df = pd.merge(df, states, on='City', how='left', suffixes=('', '_Mode'))
df['State'] = df['State_Mode']
df = df.drop('State_Mode', axis=1)

### Gestion de Bank

In [10]:
# Fonction pour obtenir le mode tout en traitant les cas spéciaux
def get_mode(series):
    try:
        return series.mode().iloc[0]
    except IndexError:
        return pd.NaT

# Obtenir le mode pour chaque groupe 'Zip' dans la colonne 'Bank'
Banks = df.groupby('City')['Bank'].apply(get_mode).reset_index()
df = pd.merge(df, Banks, on='City', how='left', suffixes=('', '_Mode'))
df['Bank'] = df['Bank_Mode']
df = df.drop('Bank_Mode', axis=1)

### Gestion Bank State

In [11]:
#remplacer les valeurs NaN par la valeur la plus fréquente selon 'Bank'

# Obtenir le mode pour chaque groupe 'Bank' dans la colonne 'BankState'
BankStates = df.groupby('City')['BankState'].apply(get_mode).reset_index()
df = pd.merge(df, BankStates, on='City', how='left', suffixes=('', '_Mode'))
df['BankState'] = df['BankState_Mode']
df = df.drop('BankState_Mode', axis=1)

### Gestion ApprovalDate

In [12]:
filtre= df['ApprovalDate'].isnull()
df[filtre]

Empty DataFrame
Columns: [City, State, Zip, Bank, BankState, NAICS, ApprovalDate, ApprovalFY, Term, NoEmp, NewExist, CreateJob, RetainedJob, FranchiseCode, UrbanRural, RevLineCr, LowDoc, ChgOffDate, DisbursementDate, DisbursementGross, BalanceGross, MIS_Status, ChgOffPrinGr, GrAppv, SBA_Appv]
Index: []

[0 rows x 25 columns]

### Gestion des LowDoc
<= 150 000 alors Y
> 150 000 alors N

In [13]:
# gestion des NaN

filtre1 = df['LowDoc'].isnull()

filtre2 = df['GrAppv']<= 150000
filtre3= df['GrAppv']>150000

df.loc[filtre1&filtre2,'LowDoc']='Y'
df.loc[filtre1&filtre3,'LowDoc'] = 'N'


filtre4= df['LowDoc'].unique()

In [14]:
# gestion des valeurs autre que Y et N


filtre= (df['LowDoc']!= 'Y') & (df['LowDoc']!='N')
display(df.loc[filtre,['LowDoc','GrAppv']])
df.loc[filtre&filtre2,'LowDoc']='Y'
df.loc[filtre&filtre3,'LowDoc']='N'
display(df.loc[filtre,['LowDoc','GrAppv']])

df['LowDoc'].unique()

       LowDoc     GrAppv
7396        C  1306000.0
23325       C   160000.0
30636       C   189000.0
35432       C  1200000.0
36058       C   250000.0
...       ...        ...
884350      C   200000.0
884377      C  2000000.0
885824      C   131000.0
889838      C   135000.0
892658      C   375000.0

[3421 rows x 2 columns]

       LowDoc     GrAppv
7396        N  1306000.0
23325       N   160000.0
30636       N   189000.0
35432       N  1200000.0
36058       N   250000.0
...       ...        ...
884350      N   200000.0
884377      N  2000000.0
885824      Y   131000.0
889838      Y   135000.0
892658      N   375000.0

[3421 rows x 2 columns]

array(['Y', 'N'], dtype=object)

In [15]:
print(df['Bank'].unique())
filtre = df['Bank'].isnull()

df[filtre]

['FIFTH THIRD BANK' '1ST SOURCE BANK' 'WELLS FARGO BANK NATL ASSOC' ...
 'SILVER LAKE BANK' 'MIDAMERICA NATIONAL BANK'
 'FIRST AMERICAN BANK & TRUST']

,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
96381,"MIDVALE,",UT,84084,NaT,NaT,0,1997-12-04,1998-01-01,90,4,...,N,N,NaT,1997-12-15,150000.0,0.0,P I F,0.0,150000.0,112500.0
96649,JOHNSONBURG,PA,15845,NaT,NaT,0,1983-10-19,1984-01-01,170,35,...,N,N,NaT,1984-05-09,126000.0,0.0,P I F,0.0,126000.0,126000.0
107843,SWOYERVILLE,PA,18704,NaT,NaT,0,1984-01-13,1984-01-01,62,3,...,N,N,1989-02-17,1984-03-12,117000.0,0.0,CHGOFF,22139.0,117000.0,98280.0
129339,MT EPHRIAM,NJ,8108,NaT,NaT,0,1984-07-09,1984-01-01,240,15,...,N,N,NaT,1984-11-07,78000.0,0.0,P I F,0.0,78000.0,78000.0
158401,"PADUCAH,",KY,42001,NaT,NaT,0,1985-01-28,1985-01-01,180,11,...,N,N,NaT,1986-01-08,168000.0,0.0,P I F,0.0,168000.0,168000.0
167618,WEST CITY,IL,62812,NaT,NaT,0,1985-04-11,1985-01-01,84,6,...,N,N,1989-01-27,1985-05-30,88000.0,0.0,CHGOFF,77534.0,88000.0,79200.0
178485,WATTERVILLE,OH,43566,NaT,NaT,0,1985-07-18,1985-01-01,240,40,...,N,N,NaT,1986-10-08,200000.0,0.0,P I F,0.0,200000.0,200000.0
236692,RANTDUL,IL,61866,NaT,NaT,0,1979-07-30,1979-01-01,120,20,...,N,N,1990-02-05,1979-08-22,151600.0,0.0,CHGOFF,136957.0,151600.0,104604.0
334781,SOUTH CHICAGO HTS,IL,60411,NaT,NaT,0,1988-11-28,1989-01-01,240,15,...,N,N,NaT,1990-02-14,250000.0,0.0,P I F,0.0,250000.0,250000.0
344750,"SPARKS,",NV,89431,NaT,NaT,0,1989-03-28,1989-01-01,60,6,...,N,N,NaT,1989-04-30,85000.0,0.0,P I F,0.0,85000.0,76500.0
357809,JACKSONVILLE BCH,FL,32250,NaT,NaT,0,1989-08-10,1989-01-01,252,2,...,N,N,NaT,1990-07-31,475000.0,0.0,P I F,0.0,475000.0,403750.0
359393,PINE HALL,NC,27042,NaT,NaT,0,1989-08-28,1989-01-01,120,4,...,N,N,NaT,1989-10-31,154000.0,0.0,P I F,0.0,154000.0,138600.0
419998,EAST LANGHORNE,PA,19047,NaT,NaT,0,1990-05-02,1990-01-01,240,23,...,N,N,NaT,1990-07-31,203000.0,0.0,P I F,0.0,203000.0,162400.0
430856,OAKFORD,PA,19047,NaT,NaT,541940,1990-07-23,1990-01-01,240,9,...,N,N,NaT,1990-07-31,380000.0,0.0,P I F,0.0,380000.0,304000.0
432871,WEST GOSHEN,PA,19380,NaT,NaT,532230,1990-08-09,1990-01-01,120,1,...,N,N,NaT,1990-10-31,170000.0,0.0,P I F,0.0,170000.0,136000.0
447781,WEST WEYMOUTH,MA,2189,NaT,NaT,454311,1991-01-29,1991-01-01,16,8,...,N,N,NaT,1991-04-30,140000.0,0.0,P I F,0.0,140000.0,126000.0
464985,PFFAFTOWN,NC,27040,NaT,NaT,454110,1991-06-28,1991-01-01,48,1,...,N,N,NaT,1991-07-31,40000.0,0.0,P I F,0.0,40000.0,36000.0
465249,GROVE CITYH,PA,16127,NaT,NaT,0,1991-07-01,1991-01-01,120,5,...,N,N,NaT,1991-10-31,150000.0,0.0,P I F,0.0,150000.0,135000.0
467002,BUSHLAND,TX,79012,NaT,NaT,0,1991-07-17,1991-01-01,84,1,...,N,N,NaT,1991-07-31,27000.0,0.0,P I F,0.0,27000.0,24300.0
493296,CUBBUCK,ID,83202,NaT,NaT,541940,1992-04-01,1992-01-01,120,8,...,N,N,NaT,1992-07-31,362000.0,0.0,P I F,0.0,362000.0,307700.0
507502,N. BELLMORE,NY,11710,NaT,NaT,233210,1992-07-13,1992-01-01,84,2,...,N,N,NaT,1993-01-31,55000.0,0.0,P I F,0.0,55000.0,49500.0
578863,SUNRALL,MS,39482,NaT,NaT,112320,1993-07-06,1993-01-01,180,2,...,N,N,NaT,1994-04-30,474900.0,0.0,P I F,0.0,474900.0,401291.0
599935,SO. LANCASTER,MA,1561,NaT,NaT,235410,1993-09-27,1993-01-01,12,2,...,N,N,NaT,1994-01-31,100000.0,0.0,P I F,0.0,100000.0,75000.0
796222,CITY OF INDUS,CA,91744,NaT,NaT,0,1977-03-11,1977-01-01,93,12,...,N,N,1991-12-12,1977-04-21,325000.0,0.0,CHGOFF,307810.0,325000.0,292500.0
863122,AUSINT,TX,78750,NaT,NaT,0,1996-06-04,1996-01-01,48,2,...,0,N,NaT,1998-06-30,35000.0,0.0,P I F,0.0,35000.0,17500.0

### Remplacer les valeurs NaN par la valeur la plus fréquente selon le code Zip

In [16]:

cities = df.groupby('Zip')['City'].apply(lambda x: x.mode().iloc[0])
df['City'] = df.apply(lambda row: row['City'] if pd.notnull(row['City']) else cities[row['Zip']], axis=1)