___
___
___
# EDA
___
___
___

In [20]:
import pandas as pd 

df = pd.read_csv('data_set/SBAnational-EDA.csv')
df.head(3)

,Unnamed: 0,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
0,0,EVANSVILLE,IN,47711,FIFTH THIRD BANK,IN,451120,1997-02-28,1997-01-01,84,...,N,Y,2010-03-13,1999-02-28,60000.0,0.0,P I F,0.0,60000.0,48000.0
1,1,NEW PARIS,IN,46526,1ST SOURCE BANK,OH,722410,1997-02-28,1997-01-01,60,...,N,Y,2010-03-13,1997-05-31,40000.0,0.0,P I F,0.0,40000.0,32000.0
2,2,BLOOMINGTON,MN,47401,WELLS FARGO BANK NATL ASSOC,IL,621210,1997-02-28,1997-01-01,180,...,N,N,2010-03-13,1997-12-31,287000.0,0.0,P I F,0.0,287000.0,215250.0

In [21]:
df.drop(columns=['Unnamed: 0'],inplace=True)

df.columns

Index(['City', 'State', 'Zip', 'Bank', 'BankState', 'NAICS', 'ApprovalDate',
       'ApprovalFY', 'Term', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob',
       'FranchiseCode', 'UrbanRural', 'RevLineCr', 'LowDoc', 'ChgOffDate',
       'DisbursementDate', 'DisbursementGross', 'BalanceGross', 'MIS_Status',
       'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'],
      dtype='object')

### Séparation en liste numériques et catégorielles

In [22]:
colonnes_numeriques = df.select_dtypes(include='number').columns.tolist()
colonnes_categorielles = df.select_dtypes(include ='object').columns.tolist()

print(colonnes_categorielles)
print(colonnes_numeriques)

['City', 'State', 'Bank', 'BankState', 'ApprovalDate', 'ApprovalFY', 'RevLineCr', 'LowDoc', 'ChgOffDate', 'DisbursementDate', 'MIS_Status']
['Zip', 'NAICS', 'Term', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'DisbursementGross', 'BalanceGross', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv']

### Etude univariée des variables quantitatives

In [ ]:
import matplotlib.pyplot as plt 
import seaborn as sns

sns.set_theme(style="whitegrid")

fig, axs = plt.subplot(len(colonnes_numeriques),2,figsize=(10, 5 * len(colonnes_numeriques)))

for i,variable in enumerate(colonnes_numeriques):
    sns.scatterplot(data=df,x=variable,ax=axs[i,0])
    axs[i,0].set_titl('Scatter plot de'+variable)

sns.histplot(data=df,x=variable,bins=20,ax=axs[i,1])
axs[i,1].set_title('Histogramme de ' + variable)